<div class="navbar">
  <img id="logo" src="assets/logo.png" alt="" srcset="">
  <div class="searchBar">
    <input [value]="selectedTitle" type="text" (input)="onSearchChange($event.target.value)" name="" id="searchBox" (blur)="onBlur()" (focus)="onFocus()">
    <i class="fas fa-search"></i>    
    <div class="autoCompleteWrapper" *ngIf="autoCompleteVisible">
      <div (click) = "backgroundClick()" class="background"></div>
        <ul>
          <li routerLink="/entry/{{result}}/1" (click) = "autocompletePick(result)" *ngFor="let result of autoCompleteResults">{{ result }}</li>
        </ul>
    </div>
  </div>
  <div class="list">
    <i class="fas fa-fire"></i>
    <i class="fas fa-calendar-alt"></i>
  </div>
</div>