
$ac: #84c44e;
$bg: #373737;

.navbar
        background-color: $bg
        height: 60px
        width: 100%
        border-top: 3px solid $ac
        position: fixed;
        -webkit-box-shadow: 0px 2px 15px -2px rgba(0,0,0,0.56);
        -moz-box-shadow: 0px 2px 15px -2px rgba(0,0,0,0.56);
        box-shadow: 0px 2px 15px -2px rgba(0,0,0,0.56);

        #logo
                width: 30px
                margin-top: 14px
                margin-left: 11px
                display: block
                float: left
                animation: swing 1s
        
        .searchBar
                position: relative
                display: block
                float: left
                width: calc(100% - 140px)
                margin-left: 10px

                

                .background
                        
                        position: fixed;
                        top: 0px
                        bottom: 0px
                        left: 0px
                        right: 0px
                        background-color: #000;
                        opacity: 0.5;
                        z-index: -1000
                        overflow: hidden
                
                #searchBox
                        display: block
                        float: left
                        height: 30px
                        padding: 0px
                        border: none
                        border-radius: 5px
                        margin-top: 13px
                        border: 1px solid $ac
                        background-color: #fff;
                        outline: none;
                        padding-left: 6px
                        width: calc(100% - 10px)

                .autoCompleteWrapper
                        width: calc(100% - 3px)
                        max-height: 150px
                        background: #fff;
                        border: 1px solid $ac
                        border-radius: 0px 0px 5px 5px;
                        overflow-y: auto
                        animation: ani 0.2s

                        // &:before
                        //         content: ""
                        //         position: fixed
                        //         background: black
                        //         top: 0px
                        //         left: 0px
                        //         right: 0px
                        //         bottom: 0px
                        //         z-index: -1
                        //         opacity: 0.5

                        ul
                                list-style: none
                                padding: 0px
                                margin: 2px 0px 0px 0px

                                li
                                        margin-bottom: 3px
                                        display: block
                                        padding: 4px 4pc 4px 6px
                                        border-bottom: 1px solid #ccc
                                        font-size: 14px
                                        

                                        &:last-of-type
                                                border-bottom: none

                        

                .fa-search
                        color: $ac
                        position: absolute
                        right: 10px
                        top: 21px

        .list
                height: 30px
                float: right
                margin-right: 10px
                margin-top: 20px

                .fas
                        font-size: 20px
                        color: white
                        display: inline-block
                        float: left
                        margin: 0px 10px 10px 10px
                        color: $ac
                        &:hover
                                color: tomato

        .entryListOption
                position: relative
                width: 100%;
                height: 30px
                background: gray;
                margin-top: 60px;
                z-index: -13
                animation: fromtop .25s

                .option
                        float: left;
                        width: 50%
                        text-align: center;
                        margin-top: 5px;
        
        .fullscreenList
                position: fixed
                background: $ac
                top: 0px
                bottom: 0px
                right: 0px
                left: 0px
                z-index: 99
                overflow: hidden
                animation: slideIn .3s
                animation-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);


                .fa-window-close
                        color: white 
                        font-size: 25px
                        float: right
                        margin: 13px
                
                p 
                        padding: 0px
                        margin: 20px
                        font-size: 22px
                        color: $bg 


                ul 
                        list-style: none
                        padding: 0px
                        margin: 20px 20px 0px 20px
                        height: calc(100% - 90px)
                        overflow-y: auto
                        
                        li
                                margin: 0px
                                padding: 0px
                                font-size: 18px
                                color: white
                                padding: 5px
                                margin-bottom: 3px
                                line-height: 20px
                                

                                span
                                        font-size: 12px;
                                        margin-right: 5px;
                                        padding-bottom: 3px;
                                        color: $bg
                                        
                                      
                                        

                                        





                        


@keyframes ani
        0%
                max-height: 0px
        100%
                opacity: 150px

@keyframes fromtop
        0%
                font-size: 3px
                height: 0px
        100%
                font-size: 16px
                height: 30px

@keyframes swing
        0%
                transform: rotateZ(0deg)
        50%
                transform: rotateZ(0deg)
                brightness(0%)
        60%
                transform: rotateZ(-20deg)
        70%
                transform: rotateZ(20deg) scale(1.2)
                filter: brightness(200%)
        80%
                transform: rotateZ(-20deg) scale(1)
        100%
                transform: rotateZ(0deg)

@keyframes slideIn
        0%
                transform: scale(0)
        100%
                transform: scale(1)