<div class="entryContainer">
  
  <div class="preloader" *ngIf="preloaderVisible">
    <div class="bg"></div>
  </div>

  <div class="entry" *ngFor="let item of entries" >
    <div class="content">{{ item.Content }}</div>
    <div class="footer">
      <div class="prop">
        <span class="fa fa-user"></span>
        <span> {{ item.Author.Nick}} </span>
      </div>
      <div class="prop">
        <span class="fa fa-clock-o"></span>
        <span> {{item.Created | date}} </span>
      </div>
      <div class="prop">
        <span class="fa fa-star"></span>
        <span> {{ item.FavoriteCount}} </span>
      </div>
      <!-- <div class="prop">
        <span class="fa fa-bars"></span>
        <span> {{ item.Id}} </span>
      </div> -->
    </div>
  </div>

</div>