<div class="entryContainer">

  <div class="preloader" *ngIf="preloaderVisible">
    <div class="bg"></div>
  </div>

  <div class="entry" *ngFor="let item of entries.Entries">
    <div class="content">{{ item.Content | bkz }}</div>
    <div class="footer">
      <div class="prop">
        <span class="fa fa-user"></span>
        <span> {{ item.Author.Nick}} </span>
      </div>
      <div class="prop">
        <span class="fa fa-clock-o"></span>
        <span> {{item.Created | date}} </span>
      </div>
      <div class="prop">
        <span class="fa fa-star"></span>
        <span> {{ item.FavoriteCount}} </span>
      </div>
      <!-- <div class="prop">
        <span class="fa fa-bars"></span>
        <span> {{ item.Id}} </span>
      </div> -->
    </div>
  </div>

  <div class="pagination" *ngIf="entries.Entries">
    <i routerLink="/entry/{{entries.Title}}/1" *ngIf="entries.PageIndex != 1" class="fas fa-fast-backward"></i>
    <i routerLink="/entry/{{entries.Title}}/{{entries.PageIndex-1}}" *ngIf="entries.PageIndex != 1" class="fas fa-step-backward"></i>
    <i class="cur" >{{entries.PageIndex}} / {{entries.PageCount}}</i>
    <i routerLink="/entry/{{entries.Title}}/{{entries.PageIndex+1}}" *ngIf="entries.PageIndex != entries.PageCount" class="fas fa-step-forward"></i>
    <i  routerLink="/entry/{{entries.Title}}/{{entries.PageCount}}" *ngIf="entries.PageIndex != entries.PageCount" class="fas fa-fast-forward"></i>
  </div>

</div>