.entries {
        padding-top: 80px;
        float: left;
        width: 950px;
        margin-left: 300px;
        min-height: 400px;
}

.entries .box {
        background-color: rgb(95, 95, 95);
        padding: 10px;
        position: relative;
        font-size: 14px;
        border-radius: 10px;
        padding-bottom: 40px;
        border: 1px solid rgb(124, 124, 124);
        margin-bottom: 20px;
        z-index: 0;
}

.box .content {
        padding: 10px;
        color: rgb(226, 226, 226);
}

.entries .box .footer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        border-top: 2px solid rgb(124, 124, 124);
}

.entries .footer div {
        float: right;
        margin: 8px;
        color: rgb(179, 179, 179);
        cursor: default;
}