<div class="entryContainer">
  <div class="entry">
    <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ducimus sunt perferendis vero rem aut in corrupti, repellat architecto qui eos et laudantium alias optio nihil maiores corporis dolorem illum omnis delectus cupiditate exercitationem. Commodi ad delectus, illo quos voluptates aperiam, veniam nemo molestias nam quaerat beatae repellat eum esse.</div>
    <div class="footer">
      <div class="prop">
        <span class="fa fa-user"></span>
        <span> dnzyslrmk </span>
      </div>
      <div class="prop">
        <span class="fa fa-clock-o"></span>
        <span> 12.92.23 </span>
      </div>
      <div class="prop">
        <span class="fa fa-star"></span>
        <span> 123 </span>
      </div>
      <div class="prop">
        <span class="fa fa-bars"></span>
        <span> 23213 </span>
      </div>
    </div>
  </div>

  <div class="entry">
    <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ducimus sunt perferendis vero rem aut in corrupti, repellat architecto qui eos et laudantium alias optio nihil maiores corporis dolorem illum omnis delectus cupiditate exercitationem. Commodi ad delectus, illo quos voluptates aperiam, veniam nemo molestias nam quaerat beatae repellat eum esse.</div>
    <div class="footer">
      <div class="prop">
        <span class="fa fa-user"></span>
        <span> dnzyslrmk </span>
      </div>
      <div class="prop">
        <span class="fa fa-clock-o"></span>
        <span> 12.92.23 </span>
      </div>
      <div class="prop">
        <span class="fa fa-star"></span>
        <span> 123 </span>
      </div>
      <div class="prop">
        <span class="fa fa-bars"></span>
        <span> 23213 </span>
      </div>
    </div>
  </div>

  <div class="entry">
    <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ducimus sunt perferendis vero rem aut in corrupti, repellat architecto qui eos et laudantium alias optio nihil maiores corporis dolorem illum omnis delectus cupiditate exercitationem. Commodi ad delectus, illo quos voluptates aperiam, veniam nemo molestias nam quaerat beatae repellat eum esse.</div>
    <div class="footer">
      <div class="prop">
        <span class="fa fa-user"></span>
        <span> dnzyslrmk </span>
      </div>
      <div class="prop">
        <span class="fa fa-clock-o"></span>
        <span> 12.92.23 </span>
      </div>
      <div class="prop">
        <span class="fa fa-star"></span>
        <span> 123 </span>
      </div>
      <div class="prop">
        <span class="fa fa-bars"></span>
        <span> 23213 </span>
      </div>
    </div>
  </div>

  <div class="entry">
    <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ducimus sunt perferendis vero rem aut in corrupti, repellat architecto qui eos et laudantium alias optio nihil maiores corporis dolorem illum omnis delectus cupiditate exercitationem. Commodi ad delectus, illo quos voluptates aperiam, veniam nemo molestias nam quaerat beatae repellat eum esse.</div>
    <div class="footer">
      <div class="prop">
        <span class="fa fa-user"></span>
        <span> dnzyslrmk </span>
      </div>
      <div class="prop">
        <span class="fa fa-clock-o"></span>
        <span> 12.92.23 </span>
      </div>
      <div class="prop">
        <span class="fa fa-star"></span>
        <span> 123 </span>
      </div>
      <div class="prop">
        <span class="fa fa-bars"></span>
        <span> 23213 </span>
      </div>
    </div>
  </div>
</div>