/* You can add global styles to this file, and also import other style files */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
body{
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        background: #3E3D40;
}

.container{
        width: 1280px;
        max-width: 1280px;
        margin: 0 auto;
}